@{
    ViewBag.Title = "Index";
}
@model HackMW2013.ViewModels.ManageTree.ManageTreeModel
<h2>Manage Tree @Model.Tree.Name</h2>
<div class="row">
    <div class="span6">
        <h3>Add Member</h3>
        @using (Html.BeginForm("AddMember", "ManageTree", new { id = Model.Tree.Id }))
        { 
            <label>Name:</label>
            @Html.EditorFor(x => x.Name)
            <br />
            <label>Phone:</label>
            @Html.EditorFor(x => x.Phone)
            <br />
            <label>Email:</label>
            @Html.EditorFor(x => x.Email)
            <br />
            <input type="submit" class="btn btn-primary btn-large"/>
        }
    </div>
    <div class="span6">
        <table class="table table-striped table-hover table-width">
            <tr>
                <td style="display: none"></td>
                <td>Name</td>
                <td>Phone</td>
                <td>Email</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            @foreach (var member in Model.Tree.Members)
            {
                <tr>
                    <td style="display: none" class="editable" data-name="memberId">@member.Id</td>
                    <td class="editable" data-name="name">@member.Name</td>
                    <td class="editable" data-name="phone">@member.PhoneNumber</td>
                    <td class="editable" data-name="email">@member.Email</td>
                    <td><a class="editLink">edit</a></td>
                    <td><a class="removeLink">remove</a></td>
                </tr>
            }
        </table>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            function convertToEdit() {
                var row = $(this).closest("tr")[0];
                $(this).html('save');

                $('.editable', row).each(function (i, elem) {
                    var input = $("<input type='text' class='input-medium'/>");
                    var html = $(this).html();
                    input.val(html);
                    $(this).html(input);
                });

                $(this).unbind();
                $(this).click(saveEdit);
            }

            function saveEdit() {
                var data = {};
                var link = $(this);

                var row = $(this).closest("tr")[0];
                $(this).html('saving');

                $('.editable', row).each(function (i, elem) {
                    var name = $(elem).attr('data-name');
                    var value = $('input', elem).val();
                    data[name] = value;
                });

                $.ajax({
                    url: '@Url.Content("~/ManageTree/EditMember/" + Model.Tree.Id)',
                        type: 'POST',
                        data: data
                }).complete(function () {
                    link.html('edit');
                    link.unbind();
                    link.click(convertToEdit);
                    $('.editable', row).each(function (i, elem) {                        
                        var value = $('input', this).val();
                        $(this).html(value);
                    });
                });
            }

            $(".editLink").click(convertToEdit);
            $(".removeLink").click(function () {
                var data = {};
                var link = $(this);

                var row = $(this).closest("tr")[0];
                link.html('removing');

                $('.editable:hidden', row).each(function (i, elem) {
                    var name = $(elem).attr('data-name');
                    var value = $(elem).html();
                    data[name] = value;
                });

                $.ajax({
                    url: '@Url.Content("~/ManageTree/RemoveMember/" + Model.Tree.Id)',
                     type: 'POST',
                     data: data
                 }).complete(function () {
                     $(row).remove();
                 });
            });
        });
    </script>
    }
