@model HackMW2013.Models.TreeOwner

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TreeOwner</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.TreeMemberID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TreeMemberID)
            @Html.ValidationMessageFor(model => model.TreeMemberID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OwnerID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OwnerID)
            @Html.ValidationMessageFor(model => model.OwnerID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ListID)
            @Html.ValidationMessageFor(model => model.ListID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
